# Welcome to {{ project_name }}!

The following special markup is `toctree` directive that constitute book's documents into global table of contents, but this bare minimal book template does not have any other documents.

However, if you have created some documents, add them to the `toctree` directive bellow.

:::{tip}
You can mix Markdown (.md) and reStructuredText (.rst) markup.
:::

:::{toctree}
:caption: 'Contents:'
:maxdepth: 2

:::

:::{note}
Note that documents in `toctree` are listed *without* a file extension.
:::
